.item-container {
    grid-template-columns: repeat(4, 1fr);
    margin-top: .3rem;
}

.dot-icon {
    right: 0%;
    top: 11.5rem;
    visibility: hidden;
}

.item-section:hover {
    box-shadow: 1px 1px 1px var(--gray-900), 1px 1px 2px var(--gray-900);
}

.item-section:hover .dot-icon {
    visibility: inherit;
}

.card-image img {
    height: 11rem;
    width: 100%;
}

.logo-title {
    margin: 5px 1.5rem .2rem 5px;
}

.channel-logo {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}

.logo-title p {
    font-size: .8rem;
}

.channel-creator {
    color: var(--gray-900);
    margin-left: 3.2rem;
    font-size: .7rem;
}

.more-option-model {
    background-color: var(--primary-color);
    box-shadow: 2px 2px 5px var(--gray-900);
    width: fit-content;
    padding: 5px 5px;
    right: .6rem;
    top: 13rem;
}

.fs {
    font-size: .8rem;
}