.spinner-div {
    height: 100vh;
    /* background-color: var(--black-900); */
}

.spinner {
    width: 4rem;
    height: 4rem;
    display: inline-block;
    border: 7px solid var(--secondary-color);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: spin 1.5s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
        border-top-color: var(--red-900);
        border-bottom-color: var(--green-200);
        border-right-color: transparent;
        border-left-color: transparent;
    }

    100% {
        transform: rotate(360deg);
    }
}