.signin-container {
    grid-template-columns: repeat(2, 1fr);
}

.signin-img {
    width: 130%;
    height: 90vh;
}

.signin-card {
    border: 3px solid var(--secondary-color);
    border-radius: .7rem;
}

.input-label {
    font-size: .9rem;
    width: 18rem;
}

.input-text {
    font-size: .9rem;
    padding: 5px 8px;
}

.input-password {
    font-size: .9rem;
    padding: 5px 1.6rem 5px 8px;
}

.input-password:focus,
.input-text:focus {
    outline: none;
}

.visibility-off {
    padding: 4px 3px;
    right: 2px;
    top: 1.2rem;
    background-color: var(--primary-color);
}

.checkbox-label {
    font-size: .9rem;
}

.checkbox-input {
    margin-right: 5px;
}

.forget-password {
    font-size: .8rem;
    color: var(--blue-900);
}

.signin {
    padding: 5px;
    width: 18rem;
}

.fs {
    font-size: .8rem;
    color: var(--blue-900);
    width: fit-content;
}


.logout-main-container{
    display: flex;
    justify-content: center;
    height: 90vh;
}
.logout-container{
    border: 2px solid var(--secondary-color);
    border-radius: .5rem;
    display: grid;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    height: 12rem;
    margin-top: 2rem;
}
.avatar-section{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.avatar{
    border: 1px solid;
    width: fit-content;
    padding: 1.2rem .8rem;
    border-radius: 50%;
}
.logout-btn{
    padding: 5px 0;
}