.single-video-container {
    margin: 1rem 2rem;
}

.video-frame {
    width: 100%;
    height: 90vh;
}

.data-title {
    font-size: 1.2rem;
}

.single-video-section {
    padding: .5rem 0;
    width: 100%;
}

.view-section {
    border-bottom: 1px solid;
    padding: .5rem 0 .8rem 0;
    font-size: .8rem;
}

.subscriber-section {
    display: flex;
    padding-top: .8rem;
    gap: .5rem;
}

.video-view {
    margin-right: 1rem;
}

.like-icon {
    display: flex;
    gap: 2rem;
}

.center {
    text-align: center;
}

.description {
    margin: 1rem 0 0 3rem;
}