.routes-container {
    display: grid;
    grid-template-columns: 12rem 1fr;
}

.home-container {
    height: 91.5vh;
    background-image: url(https://images.pexels.com/photos/827209/pexels-photo-827209.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    width: 100%;
}

.explore-btn {
    padding: 7px 1.4rem;
    color: var(--primary-color);
    border: 3px solid var(--orange-900);
    background-color: var(--secondary-color);
    color: var(--orange-900);
    border-radius: .5rem;
    font-size: 1.1rem;
}

.font {
    font-family: 'Libre Baskerville', serif;
}

.explore-btn:hover {
    background-color: var(--orange-900);
    border: 3px solid var(--secondary-color);
    color: var(--secondary-color);
}

.category-1 {
    font-size: 1rem;
    padding: 7px .6rem;
    border-radius: 2rem;
    color: var(--primary-color);
    border: 2px solid var(--orange-900);
    background-color: transparent;
}

.category {
    padding: .5rem 1rem;
    background-color: inherit;
    color: var(--orange-900);
    border-radius: .5rem;
    border: 2px solid;
}

@media screen and (max-width: 900px) {
    .home-container {
        height: 83vh;
    }
}