.sidebar-container {
    height: 91.5vh;
    top: 8.5vh;
    background-color: var(--gray-100);
}

#sidebar-icon {
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

#sidebar-icon:hover {
    color: var(--orange-900);
}

.active {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}