.playlist-container {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 2;
}

.playlist-section {
    background-color: white;
    padding: 1rem 2rem;
    border: 3px solid var(--secondary-color);
}

.playlist {
    display: grid;
    justify-content: flex-start;
    padding-left: .5rem;
}

.input-section input {
    padding: 5px .6rem;
    border: 3px solid var(--secondary-color);
}

.input-section button{
    padding: 5px .6rem;
    margin-left: 1rem;
    border: 3px solid var(--secondary-color);
    color: var(--secondary-color);
}