@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Creepster&family=Inspiration&family=Libre+Baskerville&family=Lobster&family=Merriweather&family=Pacifico&family=Playfair+Display:wght@600&family=Roboto+Slab:wght@300&family=Tai+Heritage+Pro&family=Yellowtail&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(25, 131, 173);
  --white:rgb(255, 255, 255);
  --orange-900: rgb(255, 165, 0);
  --gray-100: rgb(243 244 246);
  --gray-200: rgb(231, 230, 230);
  --gray-900: rgb(128, 128, 128);
  --black-900: rgb(0, 0, 0);
  --blue-900: rgb(0, 0, 255);
  --pink-900: #cc00ff;
  --green-200: #80ffdb;
  --red-900: rgb(255, 0, 0);
}

a {
  text-decoration: none;
  color: var(--black-900);
}

button {
  cursor: pointer;
}